.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
  font-size: 1.75em;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cardSpacing {
  margin: auto;
  margin-top: 1em;
  width: 50em;
  height: 25em;
  padding-top: 1.5em;
}

.nextBtn {
  margin-top: 2em;
}

.doubleBtns {
  width: 80%;
  margin-top: 2em;
}

.doubleBackBtn {
  float: left;
  margin-left: 15em;
}

.doubleNextBtn {
  margin-left: 70%;
}

.tableStyle {
    margin-left: auto;
    margin-right: auto;
    max-width: 25em;
}

.homeConfirmSpacing {
  margin-top: 5em;
}